body{
  font-family:sans-serif;
  background-color: rgb(255, 244, 231);

}
.header-area {
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  font-size: 16px;
  background-color: rgb(247, 208, 185);
}
.nav-link{
  color: black;
}

.hero-area{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  padding: 40px 20px;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me-area{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: 16px;
  align-items: center;

}

.about-me-card{
  border: 0px;
  background-color: rgb(247, 208, 185);

}

/* Skills Area */
.skills-area{
  height: min-content;
}

.skill-cards-area{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.skill-card{
  display: flex;
  align-items: center;
}

.skill-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-card-icon{
  font-size: 50px;
}

/* Project Area */
.project-area{
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 40px 0px;
  /* border: 1px solid black; */
}

/* Contact Me Area */

.contact-area{
 height: min-content;
 padding: 40px;
}

.contact-area-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.contact-left-area{
  margin: 10px;
}
.contact-right-area{
  margin: 10px;
}
.contact-data {
  font-size:  20px;
}

.footer-area{
  height: min-content;
}